!!!
%html
  %head
    %link{rel: 'stylesheet', href: '/compiled/application.css'}
    %script{src: '/compiled/application.js'}
    :javascript
      (function() {
        var config = {
          kitId: 'qtk6ddx',
          scriptTimeout: 3000
        };
        var h=document.getElementsByTagName("html")[0];h.className+=" wf-loading";var t=setTimeout(function(){h.className=h.className.replace(/(\s|^)wf-loading(\s|$)/g," ");h.className+=" wf-inactive"},config.scriptTimeout);var tk=document.createElement("script"),d=false;tk.src='//use.typekit.net/'+config.kitId+'.js';tk.type="text/javascript";tk.async="true";tk.onload=tk.onreadystatechange=function(){var a=this.readyState;if(d||a&&a!="complete"&&a!="loaded")return;d=true;clearTimeout(t);try{Typekit.load(config)}catch(b){}};var s=document.getElementsByTagName("script")[0];s.parentNode.insertBefore(tk,s)
      })();
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-35989432-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
  %body
    #fb-root
    :javascript
      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=397607366978938";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    .container
      %h1.logo
        Moustache-a-day!
      %h4.subtitle Take a photo everyday for the month of Movember & watch your mo' grow!
      .moustache-icon  
      .moustache-a-day-tool 
        .video-container
          %video#webcam
          .video-overlay
          .snap-overlay
        .buttons.group
          .button-bg.first
            %button.snap{disabled: 'disabled'} Save photo
          %form.gif-form{action: '/gif', method: 'post'}
            .button-bg
              %button.gif{disabled: 'disabled'} GIF my photos!
        .slot 
          .fissure
      %img.fake-lip{src: '/images/bottom-tool.jpg'}    
      .photo-roll
        .photo-roll-wrap
      %footer
        .facebook
          .fb-like{'data-send' => 'true', 'data-width' => '515', 'data-show-faces' => 'true'}
        .twitter
          %a.twitter-share-button{href: "https://twitter.com/share", 'data-text' => "I'm tracking my Movember with Moustache-a-day!", 'data-related' => 'sebedwards,jarsbe'} Tweet
          :javascript
            !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
    %canvas#photo
