!!!
%html
  %head
    %link{rel: 'stylesheet', href: '/compiled/application.css'}
    %script{src: '/compiled/application.js'}
  %body
    .container
      .header
        %h1 Mustachaday!
      %button#snap Snap!
      %video#webcam
      %canvas#photo
      #past-photos
      %form{action: '/gif', method: 'post'}
        %button GIF Me!
