!!!
%html
  %head
    %link{rel: 'stylesheet', href: '/compiled/application.css'}
    %script{src: '/compiled/application.js'}
  %body
    .container
      .wrap
        .moustache-a-day-tool
          .bar
            %span
          .video-container
            %video#webcam
            .video-overlay
            .snap-overlay
          .buttons.group
            %button.snap{disabled: 'disabled'} Save photo
            %form.gif-form{action: '/gif', method: 'post'}
              %button.gif{disabled: 'disabled'} GIF my photos!
          .slot
          .fissure-wrap
            .fissure  
        .photo-roll
    %canvas#photo
