!!!
%html
  %head
    %link{rel: 'stylesheet', href: '/compiled/application.css'}
    %script{src: '/compiled/application.js'}
  %body
    .container
      .mast-head
        .header
          %h1 MOUSTACH-A-DAY
        .moustache-icon
      %button#snap{disabled: 'disabled'} Snap!
      %video#webcam
      %canvas#photo
      #past-photos
      %form{action: '/gif', method: 'post'}
        %button GIF Me!
