!!!
%html
  %head
    %link{rel: 'stylesheet', href: '/compiled/application.css'}
    %script{src: '/compiled/application.js'}
  %body
    .container
      .mast-head
        .header
          %h1 MOUSTACH-A-DAY
        .moustache-icon
      .video-container
        %video#webcam
        .video-overlay
        .snap-overlay
      .buttons.group
        %button.snap{disabled: 'disabled'} Snap!
        %form.gif-form{action: '/gif', method: 'post'}
          %button.gif{disabled: 'disabled'} GIF Me!
      %canvas#photo
      .past-photos
      
