.overlay {
  background: rgba(0,0,0,0.8);
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
  position: fixed;
  margin-left: -235px;
  margin-top: -176px;
  img {
    top: 50%;
    left: 50%;
  }
}
