
.video-overlay {
  width: 470px;
  height: 353px;
  position: absolute;
  top: 0px;
  background: url('/images/video-overlay.svg') no-repeat;
  display: none;
} 

.snap-overlay {
  width: 470px;
  height: 353px;
  position: absolute;
  background: white;
  top: 0;
  display: none;
} 

.moustache-a-day-tool {
  position: relative;
  padding: 22px;
  background: -webkit-gradient(linear, 0 bottom, 0 top, from(#D8D5BE ), to(#F0EFE5));
  background: url('../images/bg.png');
  border-radius: 5px 5px 0 0;
  z-index: 2;
  overflow: hidden;
  height: 469px;
  padding-bottom: 0;
}

.video-container {
  position: relative;
  z-index: 1;
}

.buttons {
  margin: 25px 0 20px 0;
}

#webcam {
  -webkit-transform: scale(-1,1);
  background: url('../images/pre-cam-bg.png');
}

.button-bg {
  background: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 5px;
  width: 203px;
  height: 40px;
  float: left;
}

.first {
  margin-right: 25px;
}

.snap, .gif {
  width: 100%;
  height: 100%;
  border: 0;
  border-radius: 3px;
  color: white;
  text-shadow: 0 0 0 -1px rgba(0,0,0,0.8);
  box-shadow: inset 0 2px 0px rgba(255,255,255, 0.4); 
  font-size: 1.3em;
  &:hover {
    cursor: pointer;
  }
}

.snap {
  background-image: -webkit-linear-gradient(bottom, #00425C, #0072A4);
  &:hover {
    background-image: -webkit-linear-gradient(bottom, #0072A4, #00425C);
  }
}

.gif {
  background-image: -webkit-linear-gradient(bottom, #206546, #3EB679);
  &:hover {
    background-image: -webkit-linear-gradient(bottom, #3EB679, #206546);
  }
}

.slot {
  width: 100%;
  height: 22px;
  background: black;
  border-radius: 4px;
  box-shadow: inset 0 1px 0px rgba(255,255,255,0.2);
  background-image: -webkit-linear-gradient(bottom, rgba(0,0,0,0.1), black);
  position: relative;
}

.fissure {
  width: 450px;
  height: 2px;
  background: black;
  padding: 0 5px;
  top: 11px;
  margin: auto;
  border-top: 1px solid rgba(255,255,255,0.1);
  position: relative;
}

#photo {
  display: none;
}

.fake-lip {
  width: 100%;
  height: 36px;
  background: url('../images/bottom-tool.jpg') no-repeat;
}

.photo-roll {
  position:relative;
  width: 460px;
  margin: auto;
  top: -32px;
}

.photo-roll-wrap {
  position: relative;
}

.photo-container {
  position: relative;
  width: 420px;
  padding: 20px;
  background: url('../images/handmadepaper.png');
  border-top: 0;
  margin: auto;
  border-bottom: 1px dashed #DFDFDF;
  box-shadow: 0 0 15px 0 rgba(0,0,0,0.5);
  &:hover {
    .delete-photo {
      display:block;
    }
  }
  img {
    width: 100%;
    height: auto;
    -webkit-transform: scale(-1, 1);
  }
}

.delete-photo {
  display: none;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 5px;
  right: 5px;
  background: black;
  border: 3px solid white;
  border-radius: 40px;
  box-shadow: 0 0 4px 1px rgba(0,0,0,0.2);
  color: white;
  text-align: center;
  line-height: 1.5;
  &:hover {
    cursor: pointer;
  }
}

footer div {
  padding-top: 12px;
}
